@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    /* background-color: #000053; */
    color: #fffffe;
    background-color: #242629;
    font-family: 'Nunito', sans-serif;
    /* background-image: url('cool-background.png');
    background-size: cover; */
}

.nav_bar{
    padding: 10px;
}

.inner_nav{
    border-radius: 8px;
    background-color: #3e434a;
}

footer {
    color: white;
}

.buttons {
    color: #7f5af0;
    border-radius: 8px;
    background-color: black;
}

.buttons:hover {
    background-color: white;
    color: black;
}

.mainDiv {
    background-color: grey;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    padding: 30px;
    border-radius: 8px;
    color: #94a1b2;
}

.mainDiv{
    background-color: aqua;
}

#ratImage {
    position: inherit;
}

.signDiv {
    text-align: center;
    margin: auto;
    margin-top: 10%;
    padding: 30px;
    border-radius: 8px;
    background-color: pink;
}

#lanBox {
    padding: 100px;
    background-color: #16161a;
    border-radius: 8px;
}

#lan_left {
    top: 30%;
    right: 30%;
    position: relative;
}

#carouselExampleIndicators {
    width: 550px;
    position: relative;
}

.vl {
    border-left: 4px solid #fffffe;
    height: 485px;
}
/* Landing Page */
#v_land{
    position: absolute;
    left: 48%;
    top: 1%;
}

#lan_right {
    position: absolute;
    background-color: #242629;
    top: 20%;
    right: 6.5%;
    width: 500px;
    height: 300px;
    border-radius: 8px;
}

#lan_rightin > p{
    padding: 45px;
    font-size: larger;

}

#lan_rightin {
    margin: auto;
}

.middle {
    margin: auto;
    text-align: center;
}
/* Sign In/Sign Up */
#sign_box {
    background-color: #16161a;
    padding: 45px;
    border-radius: 8px;
}
input {
    background-color: #242629;
    color: #fffffe;
    border: none;
    border-radius: 8px;
}

::placeholder {
    color: #fffffe;
}

.form_button {
    background-color: #7f5af0;
    border: none;
    border-radius: 8px;
}

.form_button:hover {
    background-color: #5f43b4;
}
/* Feed Page styles */
#posts {
    margin: auto;
    width: 600px;
}

.card_colors {
    color: #fffffe;
    background-color: #16161a;
}

#feed_images {
    max-width: 600px;
    min-width: 200px;
    max-height: 600px;
    min-height: 300px;
    margin: auto;
}

#posts_maker {
    background-color: #16161a;
    color: #fffffe;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

/* #posts_maker {
    background-color: black;
    width: 600px;
    height: 400px;
    display: none;
    position: absolute;
    top: 300px;
    left: 700px;
}

#pclose_button {
    position: absolute;
    right: 1%;
    top: 1%;
} */

/* Nav bar styles */

nav {
    background-color: #2e375e;
    border-radius: 8px;
}
nav li{
    padding-right: 15px;
}
#navColor {
    background-color: #495592;
    border-radius: 8px;
}

