@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    /* background-color: #000053; */
    color: #a7a9be;
    font-family: 'Nunito', sans-serif;
    /* background-image: url('cool-background.png');
    background-size: cover; */
}

.mainDiv {
    background-color: grey;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    padding: 30px;
    border-radius: 8px;
    color: black;
}

.mainDiv{
    background-color: aqua;
}

#ratImage {
    position: inherit;
}

.signDiv {
    text-align: center;
    margin: auto;
    margin-top: 10%;
    padding: 30px;
    border-radius: 8px;
    background-color: pink;
}

#lanBox {
    padding: 100px;
    background-color: grey;
    border-radius: 8px;
}

#lan_left {
    top: 30%;
    right: 30%;
    position: relative;
}

#carouselExampleIndicators {
    width: 550px;
    position: relative;
}

.vl {
    border-left: 6px solid green;
    height: 480px;
}

#v_land{
    position: absolute;
    left: 48%;
    top: 1%;
}

#lan_right {
    position: absolute;
    background-color: aqua;
    top: 28%;
    right: 13%;
    width: 300px;
}