<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rats Den</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="nav_bar" style="background-color: #2f3236;">
        <div class="inner_nav container">
            <header class="d-flex flex-wrap justify-content-center">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                    <span class="fs-4" style="color: #fffffe;">Rats Den</span>
                </a>

                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="/posts" class="nav-link">New Post</a></li>
                    <li class="nav-link">{{user_login}}</li>
                    <li class="nav-item"><a href="/logout" class="nav-link">Sign Out</a></li>
                </ul>
            </header>
        </div>
    </div>
    <br>
    <main class="container middle">

        <div id="posts">
            {% for posts in posts_db %}
            <div class="card shadow-sm card_colors">
                <div style="padding-top: 10px;">
                    Made By, {{posts.username}}
                </div>
                {# {%if posts.image > ''%}
                <div>
                    <div id="carouselExampleIndicators" class="carousel slide container pictureCarousel4">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/static/images.jpg" width="auto" height="292.5px" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="#" width="520px" height="292.5px" class="d-block w-100" alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="#" width="520px" height="292.5px" class="d-block w-100" alt="">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon carouselButton" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon carouselButton" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                {%endif%} #}
                {# {%if posts.image > ''%} #}
                {# <img id="feed_images" src="/static/ratsden.png">
                <hr>
                {%endif%} #}
                <div class="card-body">
                    <p class="card-text" style="background-color: #242629; padding: 10px; border-radius: 8px;">{{posts.description}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        {# <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div> #}
                        <small class="card_colors">{{posts.timestamp}}</small>
                    </div>
                </div>
            </div>
            <br>
            {%endfor%}
        </div>
        {# <div id="posts_maker">
            <div style="padding: 13px;">
                <button id="pclose_button">X</button>
            </div>
            <hr>
            <h3>
                Create a new post!
            </h3>
            <form method="POST">
            <textarea style="width: 350px; height: 200px; resize: none;" name="new_post"></textarea>
            <br><br>
            <input type="reset">
            &nbsp; &nbsp;
            <input type="submit">
            </form>
        </div> #}
    </main>
    <div class="container">
        <footer class="justify-content-between align-items-center py-3 my-4 border-top text-center">
            <p>&copy; 2024 Carlos Vasquez. All Rights Reserved</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="/static/support.js"></script>
</body>
</html>